@charset "UTF-8";

.fancy-element {
  display: inline-block;

  > .element {

    position: relative;
    z-index: 100;

    .status {
      z-index: 101;
    }

    .elementthumb {
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;;
      border-radius: 50% !important;;
      background: #FFF;
      left: 0 !important;
      overflow: hidden;

    }
    //
    .label {
      padding-left: 12px;

    }

    &.small {
      padding-left: 30px !important;
      height: 18px;

      .status {
        height: 6px;
        width: 6px;
        top: 2px !important;
        left: 24px !important;

      }

      .elementthumb {


        img {
          width: 30px;
          height: 30px;

        }

      }

    }

    &.large {

      .status {
        top: 8px !important;
        left: 80px !important;
        width: 10px;
        height: 10px;
      }

      .elementthumb {

        img {
          width: 100px;
          height: 100px;

        }

      }

    }

  }

  &.icon,
  &.expandable {
    > .element {
      overflow: hidden;

    }

  }
  &.element-hud,
  &.icon {
    > .element {

      .label {
        display: none;

      }

    }

  }

  &.expandable {
    > .element {

      .label {
        margin-left: -999px;
        z-index: 99;
        background: rgba(255, 255, 255, 0.9);
        transition: margin-left .25s ease-in-out;
        -moz-transition: margin-left .25s ease-in-out;
        -webkit-transition: margin-left .25s ease-in-out;

      }

      &:hover,
      &:active {
        .label {
          margin-left: 0;

        }

      }

    }

  }

}