@charset "UTF-8";
//
//.fancy-element {
//  display: inline-block;

.element-hud .element,
.element-icon .element,
.element-expandable .element,
.element.element-expandable,
.element.element-icon,
.element.element-hud {
  position: relative;
  z-index: 100;

  .status {
    z-index: 101;
  }

  .elementthumb {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;;
    border-radius: 50% !important;;
    background: #FFF;
    left: 0 !important;
    overflow: hidden;

  }

  //
  .label {
    padding-left: 12px;

  }

  &.small {
    padding-left: 30px !important;
    height: 18px;

    .delete {
      right: -12px !important;

    }

    .status {
      height: 6px;
      width: 6px;
      top: 2px !important;
      left: 24px !important;

    }

    .elementthumb {

      img {
        width: 30px;
        height: 30px;

      }

    }

  }

  &.large {

    .status {
      top: 8px !important;
      left: 80px !important;
      width: 10px;
      height: 10px;
    }

    .elementthumb {

      img {
        width: 100px;
        height: 100px;

      }

    }

  }

}

.element-hud .element,
.element-icon .element,
.element.element-hud,
.element.element-icon {
  .label {
    display: none;

  }

}

.element-expandable .element,
.element.element-expandable {

  .label {
    width: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    left: 32px;
    z-index: 99;
    background: rgba(255, 255, 255, 0.9);
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

  }

  &:hover,
  &:active {
    .label {
      opacity: 1;
      width: auto;

    }

  }

}


//}